body {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
  font-family: Sora, sans-serif;
  /* font-feature-settings: normal; */
  /* font-variation-settings: normal; */
}
